*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    line-height: 1.6;
    color: #333;
    background-color: #f5f5f5;
}
.nav-bar {
    width: 97%;
    max-width: 1100px;
    margin: auto;
    padding: 20px 0;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.nav-bar .logo img {
    width: 110px;
    border-radius: 50px;
    margin-top: -25px;
}
.nav-bar .logo {
    display: flex;
}
header {
    background: linear-gradient(to right, #2e7d32, #78c47c);
    color: #fff;
    padding: 20px 0;
    height: 150px;
}
header h1 {
    float: left;
    margin-left: 20px;
}
nav {
    float: right;
    margin-right: 20px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin-top: -90px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.nav-bar .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero {
    background: linear-gradient(to right, rgba(25, 219, 64, 0.4), rgba(101, 230, 112, 0.2)), linear-gradient(to right, rgba(2, 2, 2, 0.4), rgba(0, 14, 1, 0.2)), url(img/agro1.avif) center/cover no-repeat;
    color: #fff;
    padding: 100px 0;
    text-align: center;
    justify-content: center;
}
.hero h1 {
    margin-top: 80px;
    font-size: 55px;
    font-weight: 900;
    padding: 20px;
}
.hero p {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 80px;
    padding: 30px;
}
.hero .btn {
    text-decoration: none;
    color: white;
    padding: 16px 20px;
    border-radius: 10px;
    border: none;
    font-weight: 800;
    cursor: pointer;
    font-size: 1rem;
    background: linear-gradient(to right, #2e7d32, #78c47c);
}
.items {
    background-color: #cceacd;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.items .tits {
    color: #2e7d32;
}
.items h1 {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.items .cont {
    align-items: center;
    display: flex;
    gap: 2rem;
    margin-bottom: 30px;
    align-items: center;
}
.items .list {
    background: linear-gradient(to right, #2e7d32, #78c47c);
    border-radius: 10px;
    padding: 1.2rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}
.items .info span {
    color: #f68003;
    border: 2px solid #f68003;
    padding: 5px;
    border-radius: 90px;
}
.items .info h1 {
    margin-top: 10px;
    color: white;
    font-size: 24px;
}
.items .info p {
    color: white;
    font-size: 13px;
    margin-top: -47px;
}

.list img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 23px;
}
.about {
    background: linear-gradient(to right, rgba(25, 219, 64, 0.4), rgba(101, 230, 112, 0.1)), linear-gradient(to right, rgba(2, 2, 2, 0.4), rgba(0, 14, 1, 0.2)), url(img/agro5.avif) center/cover no-repeat;
    color: #fff;
    padding: 100px 0;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}
.about .container h1 {
    margin-top: 80px;
    font-size: 60px;
}
.about .container p {
    margin-bottom: 40px;
}
.services {
    background: linear-gradient(to right, rgba(25, 219, 64, 0.4), rgba(101, 230, 112, 0.1)), linear-gradient(to right, rgba(2, 2, 2, 0.4), rgba(0, 14, 1, 0.2)), url(img/agro6.avif) center/cover no-repeat;
    padding: 10px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    color: white;
}
.services .box {
    align-items: center;
    display: flex;
    margin-top: 70px;
    margin-bottom: 50px;
    gap: 7rem;
}
.services .our-service h1 {
    font-size: 40px;
}
.services .our-info ul {
    list-style: square inside;
    padding-left: 20px;
}
.services .our-info li {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
}
.services .j-button .h-btn {
    color: white;
    padding: 9px 20px;
    border-radius: 10px;
    border: none;
    font-weight: 800;
    cursor: pointer;
    font-size: 1rem;
    background: linear-gradient(to right, #2e7d32, #78c47c);
    margin-top: 30px;
    margin-bottom: 40px;
    text-decoration: none;
}
.contact {
    text-align: center;
    background-color: #cceacd;
}
.contact p {
    color: #cceacd;
}
.contact h2 {
    font-size: 37px;
    margin-top: 20px;
    margin-bottom: 40px;
    color: white;
}
.contains {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    align-items: flex-start; 
}
.contains .contt {
    width: 50%;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15pt rgba(0,0,0,0.02);
    margin-left: 13px;
    margin-bottom: 40px;
}
.contains .contt h2 {
    margin-bottom: 20px;
    font-size: 27px;
    color: black;
}
.contains form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contains input, .contains textarea {
    padding: 12px;
    width: 100%;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}
.contains button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    background: #2e7d32;
    color: #fff;
    border: none;
    cursor: pointer;
}
.contains button:hover {
    background: #7ddb82;
    border: 2px solid #130e0a;
}
.contains button:visited {
    background: #f68003;
    border: 2px solid #f68003;
}
.contains button:active {
    background: #f68003;
    border: 2px solid #2e7d32;
}
.social {
    max-width: 500px;
    flex: 1;
    text-align: left;
}
.social .twit {
    color: #2e7d32;
}
.social h1{
    margin-bottom: 17px;
}
.social p {
    margin-bottom: 50px;
    font-size: 17px;
    color: black;
}
.contact .social-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 25px;
    gap: 20px;
}
.contact .social-item p {
    font-size: 15px;
    font-style: italic;
}
.contains .social .icon {
    border-radius: 100px;
    width: 50px;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}
.contains .social img {
    width: 50%;
    margin-top: 10px;
}
.contains .social .lil a {
    text-decoration: none;
    color:#333;
}
.icon, .email {
    background-color: #156819;
}
.icon, .call {
    background-color: #156819;
}
.icon, .location {
    background-color: #156819;
}
footer {
    background: #333;
    color: #838080;
    text-align: center;
    padding: 20px 0;
}
footer .content p {
    margin-top: 60px;
}
footer .f-icon img {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 25px;
}
@media (max-width: 768px) {
    header .nav-bar h1 {
        margin-left: -10px;
        font-size: 25px;
        font-weight: 800;
    }
    header .nav a {
        display: none;
    }
    .hero .container h1 {
        font-size: 32px;
        padding: 9px;
    }
    .hero .container p {
        font-size: 20px;
        padding: 17px;
    }
    .items {
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        display: flex;
    }
    .items h1 {
        padding: 13px;
    }
    .items .cont {
        flex-direction: column;
        width: 80%;
    }
    .contact .contt {
        width: 90%;
    }
    .contact .social {
        margin-left: 15px;
    }
    .contact .social p {
        padding: 10px;
        color: black;
    }
    .services .box {
        flex-direction: column;
    }
}